<div class="animation"></div>
<div class="pince-animation">
  <div id="poulis", class="rond"></div>
  <div class="down">
    <div id="fil", class="fil"></div>
<!--     <div id="fil2", class="fil2"></div> -->
    <div class="pince"></div>
    <div id="pince"> </div>
  </div>
  <span class="rotate"></span>
</div>
