
.pince-animation {
    width: 100px;
    min-height: 230px;
    position: relative;
    -webkit-animation: rond 3s linear 2s 1 normal; /* Safari 4.0 - 8.0 */
    animation: rond 3s linear 2s 1 normal;
    animation-fill-mode: both;
}


.rond {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-image: url(image-path('poulis.png'));
  background-size: cover;
  -webkit-animation: poulis 3s linear 5.5s 1 alternate; /* Safari 4.0 - 8.0 */
  animation: poulis 1.5s linear 5.5s 5 alternate;
  position:relative;

}

.down {
  position: relative;
}

.fil {
  width: 5px;
  height: 100px;
  background-color: gray;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  -webkit-animation: fil 3s linear 5.5s 1 alternate; /* Safari 4.0 - 8.0 */
  animation: fil 1.5s linear 5.5s 5 alternate;
  position:relative;
}

.pince {
  width: 100px;
  height: 100px;
  background-image: url(image-path('pince.png'));
  background-size: cover;
  margin: 0 auto;
  position: absolute;
}

// Animation horizontale
/* Safari 4.0 - 8.0 */
@-webkit-keyframes rond {
    0%   {left:200px; top:200px;}
    100% {left:700px; top:200px;}
}

/* Standard syntax */
@keyframes rond {
    0%   {left:200px; top:200px;}
    100% {left:700px; top:200px;}
}

// Fil augmente et diminue
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fil {
    0%   {height: 100px;}
    100% {height: 350px;}
}

/* Standard syntax */
@keyframes fil {
    0%   {height: 100px;}
    100% {height: 350px;}
}

// poulis tourne
/* Safari 4.0 - 8.0 */
@-webkit-keyframes poulis {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}

/* Standard syntax */
@keyframes poulis {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.rotate {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
}
