// Specific CSS for your home-page

.global {
  width: 100%;
  height: 100%;
 }

.purple {
  color: $purple;
  font-weight: 800;
}

.space-between {
  margin: 10px 10px;
}

#disclaimer {
  display: flex;
  align-self: center;
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  visibility: hidden;
}

#disclaimer::after {
  content: "";
  background-color: $gray;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 19;
}

#disclaimer-text {
  justify-content: space-around;
  background-color: white;
  margin: auto;
  padding: 20px 20px;
  color: black;
  z-index: 21;
  opacity: 1;
}

