#informations-profil {
  background: white;
}

#user-info p{
  background-color: white;
  border-bottom: 2px lightgrey solid;
  margin-top: 13px;
}
#user-info p:hover{
  font-size: 19px;
}

p{
  text-align: center;
}

#user-info {
  list-style: none;
  padding: 0;
}

#list-surprise-user {
  background: white;
  margin-top: 0px;
  border-top: 2px lightgrey solid;
}

// #list-surprise-user:hover {

// }




@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
.snip1344 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  // margin: 10px 1%;
  // min-width: 230px;
  // max-width: 315px;
  margin-bottom: 7px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #141414;
  box-shadow: 0 4px 5px rgba(0,0,0,0.30), 0 8px 9px rgba(0,0,0,0.22);
}
.snip1344 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1344 .background-profil {
  width: 100%;
  vertical-align: top;
  opacity: 0.2;
  -webkit-filter: grayscale(100%) blur(10px);
  filter: grayscale(100%) blur(5px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.snip1344 figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.snip1344 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.snip1344 h3 {
  margin: 0 0 5px;
  font-weight: 400;
}

.snip1344:hover .background-profil,
.snip1344.hover .background-profil {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 0 8px 10px rgba(0,0,0,0.30), 0 9px 10px rgba(0,0,0,0.22);
}
