button:focus {outline:0;}

body {
  width: 100%;
  height: 100%;
  background: #AA076B;
  background: -webkit-linear-gradient(to bottom, #61045F, #AA076B);
  background: linear-gradient(to bottom, #61045F, #AA076B);
  padding-top: 85px;
 }


.category-select {
  position: relative;

}

.home-selection {
  position: relative;
  text-align: center;
}

.product-form, .moment-form{
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .generic-form-container {
    width: 100%;
    max-width: 550px;

    .generic-form {
      width: 100%;
      min-width: auto;
      max-width: auto;
    }
  }
}

.cat-show{
  opacity: 1;
  max-height: 250px;
  transition:             all 200ms ease;
  visibility: visible;

        // -moz-transition:    max-height 500ms ease;
        // -ms-transition:     max-height 500ms ease;
        // -o-transition:      max-height 500ms ease;
        // -webkit-transition: max-height 500ms ease;

}

.event-hide{
  opacity: 0;
  max-height: 0;
  transition:             all 200ms ease;
  visibility: hidden;

        // -moz-transition:    max-height 500ms ease;
        // -ms-transition:     max-height 500ms ease;
        // -o-transition:      max-height 500ms ease;
        // -webkit-transition: max-height 500ms ease;
}
.login {
  position: absolute;
  right: 25px;
  text-align: center;
}

.headline {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  height: 100px;
  width: 200px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  transition: all ease-in .2s;
}


.headline-text {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: 450px;
  margin: 10px auto 0;
  font-family:'Catamaran', sans-serif;
  font-weight: lighter;
  font-size: 25px;
  color: white;
  text-align: center;
  transition: all ease-in .2s;

  > div {
    font-size: 20px;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 150px;
    margin: 0 auto;
    height: 1px;
    background: #FFF;
  }

  &:before {
    top: -15px;
  }

  &:after {
    bottom: -15px;
  }
}

.headline-mobile {
  background: #293133;
  color: #FFF;
  text-align: center;
  padding: 10px;
  font-size: 25px;

  > div {
    font-size: 20px;
  }
}

// .move-down {
//   top: calc(15vh-85px);
//   transition: top ease-in .2s;
// }

// .move-up {
//   top: calc(5vh-85px);
//   transition: top ease-in .2s;
// }

// .how {
//   position: absolute;
//   bottom: 6vh;
//   left: 50vh;
//   right: 50vh;
//   display: flex;
//   justify-content: center;
// }
// .hide-how{
//   display: none;
//   opacity: 0;
//   max-height: 0;
//   transition: all 200ms;
// }

// .show-how{
//   position: absolute;
//   top: 100vh;
//   bottom: 0vh;
//   display: flex;
//   max-height: 450px;
//   opacity: 1;
//   transition: all 200ms;
// }



// .product-title {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 0;
//   margin-bottom: 0;
//   font-family:'Catamaran', sans-serif;
//   font-size: 60px;
//   font-weight: lighter;
//   color: white;

//   /*test*/
//   transition: color 0.2s;

//   &::before,
//   &::after {
//     border: 2px solid transparent;
//     width: 0;
//     height: 0;
//   }

//   &::before {
//     top: 0;
//     left: 0;
//   }

//   &::after {
//     bottom: 0;
//     right: 0;
//   }

//   &:hover {
//     color: white;
//     font-size: 70px;
//     font-weight: bolder;
//   }

//   &:hover::before,
//   &:hover::after {
//     width: 100%;
//     height: 100%;
//   }

//   &:hover::before {
//     border-top-color: white;
//     border-right-color: white;
//     transition:
//     width 0.2s ease-out,
//     height 0.2s ease-out 0.2s;
//   }

//   &:hover::after {
//     border-bottom-color: white;
//     border-left-color: white;
//     transition:
//     width 0.2s ease-out,
//     height 0.2s ease-out 0.2s;
//   }
// }

.moment-title, .product-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family:'Catamaran', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  color: white;

  /*test*/
  transition: color 0.2s;

  &::before,
  &::after {
    border: 2px solid transparent;
    border-radius: 10px;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: white;
    font-size: 70px;
    font-weight: bolder;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: white;
    border-right-color: white;
    transition:
    width 0.2s ease-out,
    height 0.2s ease-out 0.2s;
  }

  &:hover::after {
    border-bottom-color: white;
    border-left-color: white;
    transition:
    width 0.2s ease-out,
    height 0.2s ease-out 0.2s;
  }
}

/*test*/
button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 0.25em 0.5em;


  color: white;
  font-size: inherit;
  font-weight: 700;

  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
 }
}
/*fin test*/


#product {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark-red; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom left, $dark-red, $clear-red); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top right, $dark-red, $clear-red);
  height: calc(100vh - 85px);
  position: relative;
}

#product::after {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1453834190665-46ff0a1fbd5a?auto=format&fit=crop&w=1055&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover !important;
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#moment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 85px);

  background: $dark-red; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top left, $dark-red, $clear-red); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top left, $dark-red, $clear-red);


}

#moment::after {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?auto=format&fit=crop&w=1050&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover !important;
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


#product:hover {

opacity: 0.95;
}

 #moment:hover {
  opacity: 0.95;
 }

// test
$animation:0.2s all ease;
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// a {
//   color:#333;
//   text-decoration:none;
//   transition:$animation;
//   &:hover {
//     color: #e50d92;
//   }
//   &:focus {
//     text-decoration:none;
//   }
//   &:active {
//     color:#FFF;
//   }
// }

// body .flex{
//   font-size: 9px;
//   padding:0px 20px;
//   margin:0;
//   font-family: 'Cabin', sans-serif;
//   -webkit-font-smoothing: antialiased;
// }


// .bttn {
//   width:110px;
//   height:110px;
//   line-height:110px;
//   text-align:center;
//   text-transform:uppercase;
//   letter-spacing:2px;
//   font-weight:bold;
//   position:relative;
//   color: white;
//   &:after {
//     transition:$animation;
//     content:'';
//     position:absolute;
//     left:0;
//     top:0;
//     bottom:0;
//     right:0;
//     border-radius:3px;
//     border:3px solid #e50d92;
//   }
//   &:before {
//     content:'';
//     position:absolute;
//     border-radius:3px;
//     left:0;
//     top:0;
//     bottom:0;
//     right:0;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//     background:white;
//     z-index:-1;
//   }
//   &:hover {
//     &:after {
//       -webkit-transform: rotate(45deg);
//       transform: rotate(45deg);
//     }
//   }
//   &:active {
//     -webkit-transform:scale(1.1);
//     transform:scale(1.1);
//     &:before {
//       background-color:white;
//     }
//     &:after {
//       border-color:white;
//     }
//   }
// }

.how-it-works-arrow-down {
  // min-height:100vh;

  position: absolute;
  bottom: 6vh;
  left: 0;
  right: 0;
  width: 140px;
  margin: 0 auto;

  display: flex;
  text-align: center;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

  i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 20px;
    width: 20px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  transition: all ease-in .2s;

  &:hover {
    transform: scale(1.05);
  }

}

.how-it-works-title {
  color: white;
  text-align: center;


}
#how-it-works-cards {
  display: flex;
  justify-content: space-evenly;

}
.how-it-works {
  padding-top: 14vh;

  min-height: 100%;

  background: #293133;

}

.info-card{
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  border: $purple 3px;
  margin: 5px auto;
  background: white;
  height: 250px;
  width: 200px;
  -webkit-box-shadow: 0 10px 6px -6px #61045F;
  -moz-box-shadow: 0 10px 6px -6px #61045F;
  box-shadow: 0 10px 6px -6px #61045F;
}

#info-card p{
  background-color: white;
  // margin-left: 98px;
  margin-top: 10px;
  border: solid #22254a 3px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 5px rgba(0,0,0,0.30), 0 8px 9px rgba(0,0,0,0.22);
}
#info-card p:hover {
  box-shadow: 0 5px 6px rgba(0,0,0,0.31), 0 9px 10px rgba(0,0,0,0.23);
}

.gift-image {
  align-self: center;
  width:120px;
  height:100px;
  // margin-left: 120px;
}


.cat-selected {
   & {
    color: white;
    font-size: 70px;
    font-weight: bolder;
  }

  &::before,
  &::after {
    width: 100%;
    height: 100%;
  }

  &::before {
    border-top-color: white;
    border-right-color: white;
    transition:
    width 0.2s ease-out,
    height 0.2s ease-out 0.2s;
  }

  &::after {
    border-bottom-color: white;
    border-left-color: white;
    transition:
    width 0.2s ease-out,
    height 0.2s ease-out 0.2s;
  }
}


@media only screen and (max-width: 769px) {

    #product, #moment {
      height: calc((100vh - 162px) / 2);

      &.category-expand {
        height: calc(100vh - 100px);
      }
    }

    .cat-selected {
      font-size: 50px !important;
    }

    .generic-form {
      margin-top: 0 !important;
    }

    .icon-card {
      font-size: 0.9rem !important;

    }



}
