


    <!-- Profile picture with dropdown list -->
<div class="row">

    <div class="col-xs-6" id="product">
      <button class="title">PRODUIT</button>
    </div>

    <div class="col-xs-6" id="moment">
      <button class="title">MOMENT</button>
    </div>
    <div class="login"><a href="#">Se connecter</a></div>
    <div class="headline">

    </div>
    <div class="headline-text"> Sortez de votre bulle </br>et choisissez votre catégorie !</div>
  </div>
</div>


