


    <!-- Profile picture with dropdown list -->
<div class="row home-selection">

    <div class="col-xs-6 category-select" id="product">
      <button class="product-title">PRODUIT</button>
      <div class="product-form event-hide"> <%= render "../views/products/search" %>
      </div>
    </div>

    <div class="col-xs-6 category-select" id="moment">
      <button class="moment-title">MOMENT</button>
      <div class="moment-form event-hide"> <%= render "../views/moments/search" %>
      </div>
    </div>

    <div class="login">
      <%= link_to "S'enregistrer", new_user_registration_path %>
      <%= link_to "Se connecter", new_user_session_path %>
    </div>

    <div class="headline move-down">
    </div>

    <div class="headline-text move-down"> Sortez de votre bulle </br>et choisissez votre catégorie !
    </div>
</div>

<div class="how">
    <!-- test -->
    <div class="flex">
      <a href="#how-it-works" id= 'how-link' class="bttn">SurpriZe Me?</a>
    </div>
<!-- fin/test -->
</div>

<div class="hide-how" id="how-it-works">
    <p>Hello HELLO Hello</p>
    <p>Hello HELLO Hello</p>
    <p>Hello HELLO Hello</p>
    <p>Hello HELLO Hello</p>
    <p>Hello HELLO Hello</p>
    <p>Hello HELLO Hello</p>
    <p>Hello HELLO Hello</p>
    <p>Hello HELLO Hello</p>
    <p>Hello HELLO Hello</p>
    <p>Hello HELLO Hello</p>
</div>


<% content_for :after_js do %>
  homepageAnimation();
<% end %>
