<div class="container">
  <h1><%= Product.name %></h1>
  <div><%= cl_image_tag @product.photo_url1 %></div>
  <div class="row">
    <div class="not_surprising btn btn-warning">Ce n'est pas surprenant</div>
    <div><%= @product.price %></div>
    <div class="surprising btn btn-success">C'est surprenant</div>
  </div>
  <div><%= description %></div>
</div>
