<button class="title">Test</button>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style3.css">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href=“https://fonts.googleapis.com/css?family=Catamaran:300,400” rel=“stylesheet”>
</head>

<body>


    <!-- Profile picture with dropdown list -->
<div class="row">

    <div class="col-xs-6" id="product">
      <button class="title">PRODUIT</button>
    </div>

    <div class="col-xs-6" id="moment">
      <button class="title">MOMENT</button>
    </div>

  </div>
</div>


</body>
</html>
