html, body {
  width: 100%;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #AA076B;
  background: -webkit-linear-gradient(to right, #61045F, #AA076B);
  background: linear-gradient(to right, #61045F, #AA076B);
  width: 100%;


}


  .form-description{
    text-align: center;
    color: $magenta;
    font-weight: light;
  }
    .generic-form {
      background: rgba(255, 255, 255, 0.7);
      border-radius: 40px;
      margin: 40px 0;
      position: relative;
      display: inline-block;
      max-width: 700px;
      min-width: 500px;
      padding: 25px 25px;
      border-radius: 40px;
      margin: 5px 0;
    }

      .form-actions {
        justify-content: center;
        display: flex;
      }

      .form-button {
        margin-top: 25px;
        line-height: 0;
        font-size: 17px;
        display: inline-block;
        box-sizing: border-box;
        padding: 20px 15px;
        border-radius: 30px;
        font-weight: 100;
        letter-spacing: 0.01em;
        position: relative;
        transition: background-color 0.40s ease;
        background: #AA076B;
        background: -webkit-linear-gradient(to left, #61045F, #AA076B);
        background: linear-gradient(to left, #61045F, #AA076B);
        color: white;
        opacity: 0.8;

        &:hover, &:focus{
          color: $magenta;
          background: white;
          border: 1px solid $magenta;
          opacity: none;
        }
      }

    label {
      color: $magenta;
      font-weight: 100;
      letter-spacing: 0.01em;
      font-size: 20px;
      display: block;
    }

.inline {
  display: flex;

}
    .form-inputs {
      input {
        background-color: none;
        border: 0.6px solid $magenta;
        line-height: 0;
        font-size: 17px;
        width: 100%;
        display: block;
        padding: 10px 15px;
        border-radius: 60px;
        font-weight: 100;
        letter-spacing: 0.01em;

        &:focus{
          font-size: 17px;
          outline: none;
          color: #e50d92;
        }
      }
    }



#budget {
  margin-bottom: 5px;
}
.icon-selector {
  display: flex;
  justify-content: space-between;


}
.icon-selector input {
  margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.male{

  }
.female{}
.indifferent {}
.extravagant {}
.moderate {}

.icon-selector input:active +.icon-card{opacity: 1;}
.icon-selector input:checked +.icon-card{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.icon-card{
    background: -webkit-linear-gradient(to left, #61045F, #AA076B);
    background: linear-gradient(to left, #61045F, #AA076B);
    color: white !important;
    border-radius: 30px;
    padding: 5px 5px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width: 130px;
    height: auto;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(1) opacity(.6);
       -moz-filter: brightness(1.2) grayscale(1) opacity(.6);
            filter: brightness(1.2)  opacity(.6);
}
.icon-card:hover{
    -webkit-filter: brightness(1) grayscale(.5) opacity(.8);
       -moz-filter: brightness(1) grayscale(.5) opacity(.8);
            filter: brightness(1) grayscale(.5) opacity(.8);
}



.double-form {
  display: flex ;
  flex-direction: row;
  justify-content: space-evenly;
}
.address-box{
  display: flex;
  justify-content: space-evenly;

}

.billing_address{
  border-left: solid lightgrey 3px;
  padding-left: 20px;
}

.delivery_address{

}
