/*Time for the CSS*/
* {margin: 0; padding: 0;}
body {background: #ccc;}

.slider{
  width: 100%;
  max-height: 100%;
  min-height: 380px;
  position: relative;
  /*Instead of height we will use padding*/
  // padding-top: 340px; /*That helps bring the labels down*/


  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
  position: absolute;
  left: 0; top: 0;
  transition: all 0.5s;
  // background-size: cover;
   max-width: 75%;
   max-height: 100%;
   margin-left: 25%;
  // border: 1px solid purple;

}

.slider input[name='slide_switch'] {
  display: none;
  // border: 1px solid green;

}

.slider label {
  /*Lets add some spacing for the thumbnails*/
  margin: 0px 0 0 18px;
  float: inherit;
  cursor: pointer;
  transition: all 0.5s;

  /*Default style = low opacity*/
  opacity: 0.6;
  // border: 1px solid blue;
}

.slider label img{
  display: block;
  background-size: cover;
    // border: 1px solid black;

}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
  border-color: #666;
  opacity: 1;
    // border: 1px solid teal;

}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
  opacity: 0;
  transform: scale(1.1);
  // border: 1px solid orange;

}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
  opacity: 1;
  transform: scale(1);
  // border: 1px solid brown;

}

@media only screen and (max-width: 769px){

  /*Time for the CSS*/
* {margin: 0; padding: 0;}
body {background: #ccc;}

.slider{
  width: 100%;
  max-height: 100%;
  // min-height: 380px;
  // position: relative;
  /*Instead of height we will use padding*/
  // padding-top: 340px; /*That helps bring the labels down*/


  // border: 1px solid red;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%) !important;
  top: 0;
  transition: all 0.5s;
  // background-size: cover;
   max-width: 100%;
   max-height: 100%;
   margin-left: auto;
   margin-right: auto;
  // border: 1px solid purple;

}

.slider input[name='slide_switch'] {
  // display: none;
  // border: 1px solid green;

}

.slider label {
  // /*Lets add some spacing for the thumbnails*/
  // margin: 0px 0 0 18px;
  // float: inherit;
  // cursor: pointer;
  // transition: all 0.5s;

  // /*Default style = low opacity*/
  // opacity: 0.6;
  // // border: 1px solid blue;
  // display: none;


}

.slider label img{
  // display: block;
  // background-size: cover;
    // border: 1px solid black;
    display: none;

}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
  // border-color: #666;
  // opacity: 1;
    // border: 1px solid teal;
    // display: none;


}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
  // opacity: 0;
  // transform: scale(1.1);
  // border: 1px solid orange;
  // display: none;


}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
  // opacity: 1;
  // transform: scale(1);
  // border: 1px solid brown;
  // display: none;

}

}

