.surprise {
  // background: -webkit-linear-gradient(to right, #61045F, #AA076B);
  background: linear-gradient(to right, $dark-red, $dark-red, $clear-red);
  // background: linear-gradient(to right, #AA076B, #61045F, #AA076B);
  font-family: $headers-font;



}

.grid-surprise{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 65% 35%;
  height: 100vh;
  margin-left: 15vh;
  margin-right: 15vh;
  padding-top: 90px;
  padding-bottom: 5px;

}

.image-surprise{
  grid-row: 1/ span 1;
  grid-column: 1/ span 1;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.carac-surprise{
  grid-row: 1/ span 1;
  grid-column: 2/ span 1;

}

.surprise-description{
  grid-row: 2/span 1;
  grid-column: 1/ span 2;
}

.card-thumbs{
  font-size: 35px;
  text-decoration: none;
  display:block;
  position: relative;
  a {
    color: black;
    letter-spacing: 6px;

  }
  i {
    padding-bottom: 25px;
  }
  h2 {
    font-weight: lighter;
    font-size: 30px;
  }
}
.shrink-up {
transition: 0.5s ease;
}

.shrink-up:hover{
font-size: 45px;
color: #367026;
transition: 0.5s ease;
}

.shrink-down {
transition: 0.5s ease;
}

.shrink-down:hover{
font-size: 45px;
color: red;
transition: 0.5s ease;
}


#carac-surprise {
  // border: 3px solid #61045F;
  background-color: $broken-white;
  // color: #AA076B;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  overflow: auto;
  h1 {
    font-weight: bold;
    font-size: 40px;
  }
  .fa {
    color: $dark-red;
  }
}

#image-surprise {
  border-radius: 5px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.3);
  // border: 1px double $broken-white;
  margin: 10px;
  background-size: cover;
}

#description-surprise {
  // border: 3px solid #61045F;
  background-color: $broken-white;
  // color: #AA076B;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin: 10px;
  overflow: auto;


  h1 {
    font-weight: bold;
    font-size: 20px;
  }
}
@media only screen and (max-width: 993px) {

.grid-surprise{
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  // margin-left: 15vh;
  // margin-right: 15vh;
  padding-bottom: 5px;

}

  .image-surprise{
  grid-row: 2/ span 1;
  grid-column: 1/ span 2;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.carac-surprise{
  grid-row: 1/ span 1;
  grid-column: 1/ span 1;
  overflow: hidden;

}

.surprise-description{
  grid-row: 3/span 1;
  grid-column: 1/ span 1;

}

.separator{
  border: none;
}

.footer{
  display: none;
}

#carac-surprise {
  // border: 3px solid #61045F;
  background-color: $broken-white;
  // color: #AA076B;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  h1 {
    font-weight: bold;
    font-size: 30px;
  }
  .fa {
    color: $clear-red;
  }

}


#image-surprise {
  border-radius: 5px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.3);
  // border: 1px double $broken-white;
  // margin: 10px;
  background-size: cover;
}

#description-surprise {
  // border: 3px solid #61045F;
  background-color: $broken-white;
  // color: #AA076B;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  // margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


  h1 {
    font-weight: bold;
    font-size: 20px;
  }
}

}



